<!doctype html>
<html ng-app="todoApp">
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="./js/app.js"></script>
  </head>

  <body>

    <h2>Desafio - Lista de tarefas</h2>
    
    <div ng-controller="TodoListController as todoListCtl">
    
      <hr>
    
      <a href="" class="btn btn-info"  ng-click="todoListCtl.AddNews()">Estou sem tarefas</a>
      <br>  
      <br>  

      <hr>

      <h4>Cadastro de tarefas</h2>
     
      <div>
        <form ng-submit="todoListCtl.addTodo()">
          <input type="text" ng-model="todoListCtl.todoDescription"  size="30"
                placeholder="Descrição">
          <input type="text" ng-model="todoListCtl.todoName"  size="30"
                placeholder="Nome do responsável">
                <input type="text" ng-model="todoListCtl.todoEmail"  size="30"
                placeholder="E-mail">
          <input class="btn-primary" type="submit" value="Adicionar">
        </form>
      </div>
     
      <hr>
     
      <h4>Filtros</h2>
     
      <div>
        [ <a href="" ng-click="todoListCtl.changeFilter('')">Todas tarefas</a> ]
        [ <a href="" ng-click="todoListCtl.changeFilter('PENDENTE')">Tarefas pendentes</a> ]
        [ <a href="" ng-click="todoListCtl.changeFilter('COMPLETA')">Tarefas concluidas</a> ]
      </div>

      <hr>
      
      <h4>Lista de tarefas</h2>
     
      <div>
        <ul class="list-group  list-group-flush">
          <li class="list-group-item" ng-repeat="todo in todoListCtl.todos">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Responsável: {{todo.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Status: {{todo.status}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">E-mail: {{todo.email}}</h6>
                <span class="badge bg-primary rounded-pill">Restaurada: {{todo.movement}}</span>
                <p class="card-text">Descrição: {{todo.description}}</p>
                <a ng-if="todo.status=='PENDENTE'" href="" class="btn btn-success" ng-click="todoListCtl.changeStatus(todo, 'COMPLETA')">Completar</a>
                <a ng-if="todo.status=='COMPLETA'" href="" class="btn btn-warning"  ng-click="todoListCtl.changeStatus(todo, 'PENDENTE')">Voltar tarefa</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <hr>
    </div>
  </body>
</html>